.Rhistory
.RData
.Rproj.user
data/group_without_prosthesis
data/group_with_prosthesis
fs_token.rds
index_cache/
create_measures.R
process.R
data/filenames.rds
data/all_minute_data.rds
data/summaries/
Icon?